*{
    /*marges*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

/* chargement de la police */
body{
    font-family: 'Montserrat', serif;

}

/* toute la partie du jeu ( questions, options, score, nombre de question)*/
main{
    width: 100%; /* largeur*/
    min-height: 100vh; /* hauteur minimale*/
    display: flex; /* flexible ( permet d'avoir une page responsive)*/
    flex-direction: column; /*organiser en colonnes */
    justify-content: center; /* centrer l'élément*/
    align-items: center; /* centrer les éléments de main*/
    background-color: black; /* mettre le fond en noir ( si l'image ne se charge pas)*/
    background: url('background.jpg'); /* ajout d'une image comme background*/
    background-repeat: no-repeat; /* ne pas répéter l'image*/
    background-size: cover; /* image recouvre totalement la fenêtre*/
    background-position: center; /* centre l'image*/
}

.contenuQuiz{
    width: 40rem;
    height: 30rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; /* séparer les éléments*/
    border-radius: 30px;
}

.divScoreEtQuestion{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divScoreEtQuestion h1{
    font-size: 1.2rem; /* taille du texte*/
}

.divQuestion {
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 25px;
}

.divQuestion  h1{
    font-size: 1.1rem; /* taille du texte */
    text-align: center; /* centrer le texte*/
    padding: 3px; /*mettre un espace de minimum 2 pixel entre chaques éléments*/
}

.divOptions{
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap; /* affiche les éléments dans la div avec un retour chariot (touche entrée) automatiquement */
    align-items: center;
    justify-content: space-around;
}

.divOptions span{
    width: 45%;
    height: 3rem;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden; /* empêche que le texte inscrit dans l'option puisse dépasser de celle ci ( peut nuir à la visibilité mais est plus joli )*/
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s; /*transition 0.3s */
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12); /*grossisment*/
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: gray; /* mettre le texte en blanc*/
}

input[type="radio"] {
    position: relative; 
    display: none;
}


input[type=radio]:checked ~ .option { /* quand l'input est selectionné */
    background: #fafa08; /*le mettre en jaune pastel*/
}

.bouttonSuivant{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

/* css du boutton pour passer a la question suivante */ 
.bouttonSuivant button{
    width: 8rem; /* largeur */
    height: 2rem; /* hauteur*/
    border-radius: 10px; /* taille des arrondis bordure */
    background: none; /* pas de background*/
    color: rgb(25, 25, 25); /*oculeur */
    font-weight: 600; /* largeur des lettres (gras)*/
    border: 2px solid gray; /* Taille bordur et sa couleur*/
    cursor: pointer; 
    outline: none;
}

/* mettre le background du boutton en gris lorsque qu'on pose le pointeur de la souris dessus */ 
.bouttonSuivant button:hover{
    background-color: #929292;
}

.popupFin{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.contenuPopupFin{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.contenuPopupFin h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.resultats{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.resultats p{
    color: white;
    text-align: center;
}

/* animation du fondu lorsque la popup apparait */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
